# Dependencias
node_modules/

# Expo
.expo/
dist/
web-build/

# Archivos generados por Expo
*.expo
*.expo-shared

# Archivos de configuración de Expo
*.expo.*
*.expo-app.json
*.expo-config.js

# Archivos nativos
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro Bundler
.metro/

# Archivos de depuración
npm-debug.*
yarn-debug.*
yarn-error.*

# Archivos del sistema macOS
.DS_Store
*.pem

# Archivos de entorno local
.env
.env.local
.env.*.local

# Archivos de TypeScript
*.tsbuildinfo

# Archivos de caché
*.cache
*.tmp

# Archivos de build de TypeScript
build/

**/Microsoft/
%ProgramData%/
**%ProgramData%
**/%ProgramData%
**/%ProgramData%/
**/ProgramData/
**/ProgramData
**ProgramData/
